<div class="headPantalla col-xs-12">
  <div style="text-align: center;">Alojamiento y comidas</div>
</div>

<div class="aloja">
  <br/>
  <br/>
  <br/>
  <h3>¿Dónde alojarse durante #XVISAEL?</h3><br />
  En este sitio vas a encontrar tarifas de hoteles con descuento especial para los expositores y asistentes al Congreso:  
  <a  onclick="window.open('https://www.ttsviajes.com/congresos/estudioslinguisticos', '_system');">TSS Viajes - XVI CONGRESO SOCIEDAD ARGENTINA DE ESTUDIOS</a><br />
  Para consultar por traslados al campus desde el centro o desde los aeropuertos a los hoteles: <a href="mailto:csaelunsam@ttsviajes.com">csaelunsam@ttsviajes.com</a><br />
  <br />
  <br />
  <h3>¿Dónde almorzar durante #XVISAEL?</h3><br />
  <h4>Comedor Universitario Mensa-UNSAM <br /></h4>
  Comida saludable, estacional y equilibrada. El comedor está dentro del campus, frente al Instituto de Investigaciones Biotecnológicas (IIB) y al Auditorio Carpa.  <br />
  Ofrece dos posibilidades de menú: vegetariano y clásico. Ambos incluyen: plato caliente, ensalada con tres ingredientes, pan, bebida y fruta. En la página de Facebook del comedor podés consultar el menú del día: 
  <a  onclick="window.open('https://www.facebook.com/mensacomedor/', '_system');">www.facebook.com/mensacomedor/</a><br />
  <br />
  <h4>Bar “Mensita”</h4><br /> 
  El bar está ubicado en el edificio de Humanidades.<br />
  Ofrece el mismo menú que Mensa, pero solo la opción vegetariana, con ensalada (3 gustos) y bebida. En este bar también se venden sandwiches, empanadas y ensaladas, entre otras opciones.<br />
  <br />
  <h4>Cooperativa de comedor popular</h4><br /> 
  Comidas rápidas.<br />
  (en el campus, frente a la oficina de Comunidad UNSAM)<br />
  <br />
  <h4>Sociedad de Fomento Villa Lynch</h4><br />
  Comidas del día.<br />
  (frente al Campus)<br />
  <br />
  <h4>Parrilla “El encuentro” </h4><br />
  Parrilla. <br />
  25 de Mayo 1300 (justo enfrente del Campus), San Martín, Buenos Aires<br />
  <br />
  <h4>Lo de Carlitos</h4><br />
  Restaurante. Comida rápida.<br />
  Moreno 3273, San Martín, Buenos Aires<br />
  <br />
  <h4>San Antonio</h4><br />
  Pizzería.<br />
  25 de Mayo 1900, San Martín,<br /> Buenos Aires<br />
   <br />
  <h4>Da Marchello</h4><br />
  Restaurante italiano.<br />
  Salguero 2117, San Martín, Buenos Aires<br />
   <br />
  <h4>Rouxe Resto</h4><br />
  Restaurante. Pub/bar.<br />
  25 de Mayo 1908, San Martín, Buenos Aires<br />
   <br />
  <h4>Ayres de Campo</h4><br />
  Restaurante argentino. Parrilla.<br />
  Ayacucho 2164, 1650 San Martin, Buenos Aires<br />
   <br />
  <h4>El encanto</h4><br />
  Restaurante Peruano<br />
  Sarmiento 2052, San Martin, Buenos Aires<br />
   <br />
  <h4>La simoqueña</h4><br />
  Pizza y empanadas para llevar.<br />
  25 de Mayo 1962, San Martín, Buenos Aires<br />
  <br />
  <h4>La cocina de mamá</h4><br />
  Restaurante de comida para llevar<br />
  Perdriel 3445, San Martín, Buenos Aires<br />
  <br />
  <br />
  <br />

  <div>
      <iframe src="https://www.google.com/maps/d/embed?mid=1W4g86H_C9B8CkWtSWcBF3UNFFiNq_mU1"  width="100%" height="320" frameborder="0" style="border:0"></iframe>
    <br />
  </div>

</div>