.headPantalla {
    text-align: center;
    color: white;
    background-color: #E2AC0F;
    padding: 0.5em;
    -moz-box-shadow: inset -5px -5px 5px black;
    -webkit-box-shadow: inset 0px -5px 5px black;
    box-shadow: inset 0px -2px 5px black;
    margin-bottom: -1px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
  }
  
  .favoritos{
      overflow: hidden;
      position: relative;
      width: 100%;
  }
  
  .horario{
    text-align: center;
    height: 100%;
    position: absolute;
    right: -10%;
    display: flex;
    align-items: center;
  }
  
  @media only screen and (min-width: 500px) {
      .horario {
          right: -20%;
      }
  }
  
  .letraHorario {
    color: #E2AC0F;
    font-size: 16px;
    margin-top: 7px;
  }
  
  .finCharla{
    margin-bottom: 9px;
  }
  
   .listadoCharlas
  {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  .listadoCharlas h2
  {
      font-size: 1.5em;
  }
  
  @media only screen and (max-width: 500px) {
      .listadoCharlas h2 {
          font-size: 1.3em;
      }
  }
  
  .listadoCharlas li.tema
  {
      border-bottom: 2px solid #E8E8E8;
  }
  
  .listadoCharlas ul
  {
      padding: 0;
      margin: 0;
      list-style: none;
  }
    .aloja {
    margin-left: 2px;
    margin-right:  2px;
  }

  H4 {
      display: inline;
    }