<div class="headPantalla col-xs-12">
      <div style="text-align: center;">Información general sobre el Congreso</div>
      <div class="col-xs-4" style="text-align: right;">
        <a routerLink="/"></a>
	  </div>
</div>
<div class="infoGral">
	<br/>
	<br/>
	<br/>
	<h3>¡Bienvenidxs al XVI Congreso de la Sociedad Argentina de Estudios Lingüísticos!</h3>

	<br />
	Como en las reuniones anteriores, esperamos pasar cuatro días de intercambio y aprendizaje entre colegas y amigxs, esta vez en la Universidad Nacional de San Martín.<br />
	Toda la información sobre el programa, las sedes y los horarios podrá consultarse en esta misma aplicación, incluyendo tu agenda personalizada de las exposiciones a las que quieras asistir.<br />
	También, te invitamos a seguirnos en nuestras redes sociales para intercambiar noticias y recibir información adicional sobre el Congreso con el hashtag: <strong>#XVISAEL2018</strong><br />
	Para consultas puntuales o información no contemplada aquí, podrás contactarnos en la mesa de acreditación o enviarnos un e-mail a: <a href="mailto:XVISAEL@unsam.edu.ar">XVISAEL@unsam.edu.ar</a> <br />
	¡Nos vemos!<br />
	<br />
	<br />
	<h4>#XVISAEL2018</h4><br />
	<h5>Comisión Organizadora</h5><br />
	<p>
	   <img src="./assets/img/unsam.png" height="32" width="32">              
		<a  onclick="window.open('http://www.unsam.edu.ar/escuelas/humanidades/centros/celes/', '_system');">Centro de Estudios del Lenguaje en Sociedad (CELES)</a><br />
	</p>
	<p>
	<p>
	   <img src="./assets/img/unsam.png" height="32" width="32">
	    <a  onclick="window.open('http://www.unsam.edu.ar/', '_system');">Universidad Nacional de San Martín</a><br />
	</p>
	<p>
	   <img src="./assets/img/instagram.png" height="32" width="32">
	    <a  onclick="window.open('https://www.instagram.com/celes_unsam/', '_system');">@celes_unsam</a> <br />
	</p>	
	<p>
	   <img src="./assets/img/twitter.png" height="32" width="32"> 
	    <a  onclick="window.open('https://twitter.com/celes_unsam/', '_system');">@celes_unsam</a><br />
	</p>
	<p>
	   <img src="./assets/img/facebook.png" height="32" width="32">    
	    <a  onclick="window.open('https://es-la.facebook.com/celes.unsam/', '_system');">Centro de Estudios del Lenguaje en Sociedad UNSAM</a><br />
	</p> 

</div>

