<div></div>

<div id="menuPrincipal">
    <div id="deviceready" class="blink">
    </div>
  <div class="col-xs-12">
    <div class="col-xs-4 text-center buttonText">
      <a routerLink="/infoGeneral">
        <div class="roundButton">
          <div><i class="fas fa-university"></i></div>
        </div>
        <p>Información general<br>sobre el Congreso</p>
      </a>
    </div>

    <div class="col-xs-4 text-center buttonText">
      <a routerLink="/programa">
        <div class="roundButton">
          <div><i class="far fa-calendar-alt"></i></div>
        </div>
        <p>Programa<br>del Congreso</p>
      </a>
    </div>

    <div class="col-xs-4 text-center buttonText">
      <a routerLink="/actividadesCulturales">
        <div class="roundButton">
          <div><i class="fas fa-file-alt"></i></div>
        </div>
        <p>Actividades<br>sociales y culturales</p>
      </a>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="col-xs-4 text-center buttonText">
      <a routerLink="/infoViajeros">
        <div class="roundButton">
          <div><i class="fas fa-info"></i></div>
        </div>
        <p>Cómo llegar</p>
      </a>
    </div>
    
      <div class="col-xs-4 text-center buttonText">
        <a routerLink="/alojamientoYComidas">
          <div class="roundButton">
            <div><i class="fas fa-bed"></i></div>
          </div>
          <p>Alojamiento<br>y comidas</p>
        </a>
      </div>

      <div class="col-xs-4 text-center buttonText">
        <a routerLink="/agenda">
          <div class="roundButton">
            <div><i class="fas fa-book"></i></div>
          </div>
          <p>Mi agenda</p>
        </a>
      </div>
    </div>

  <div class="col-xs-12">
    <div class="col-xs-4 text-center buttonText">

    </div>
    
      <div class="col-xs-4 text-center buttonText">
        <a (click)="irACreditos()">
          <div class="roundButton">
            <div><i class="fas fa-question"></i></div>
          </div>
          <p>Créditos</p>
        </a>
      </div>

      <div class="col-xs-4 text-center buttonText">
      </div>
    </div>
  </div>
