#menuPrincipal {
    padding-top: 4em
}

#menuPrincipal a {
    color: #212121;
}


div, p {
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-transform: none;
    font-size: 0.8em;
}

.roundButton {
    width: 20vw;
    height: 20vw;
    font-size: 12vw;

    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
    background-color: white;
    /* align-content: center; */
    margin: 0px auto;
    padding: 2px;
    display: block;
    outline-style: none;
    margin-top: 12%;
}

.roundButton i {
    color: rgb(225, 171, 15);
    padding: 12%;
    align-content: center;
    height: auto;
}

/*@media (min-width: 576px) {
    .roundButton {
        width: 50px;
        height: 50px;
        font-size: 38px;
    }
}

@media (min-width: 768px) {
    .roundButton {
        width: 52px;
        height: 52px;
        font-size: 42px;
    }
}

@media (min-width: 992px) {
    .roundButton {
        width: 54px;
        height: 54px;
        font-size: 42px;
    }
}*/



.buttonText {
    font-size: 14px;
    font-weight: bolder;
}

@media only screen and (min-width: 600px) {
    .buttonText {
        font-size: 18px;
    }
}

@media only screen and (min-width: 768px) {
    .buttonText {
        font-size: 18px;
    }
}

button
{
  border: none;
  padding: 13px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  background-color: #e2ac0f;
  border-radius: 4px;
  color: #FFF;
}